*{
    margin: 0;
    padding : 0;
}
header{
    width: 100%;
    height: 100px;
    background-image: linear-gradient( to right, #2621E8, #3B38AB, #545388);
}
header h1{
    text-align: center;
    line-height: 100px;
    color: #fff;
}
main{
    width: 100%;
    margin-top: 20px;
}
#input{
    margin: 15px;
    width: 100px;
    height: 30px;
}
button{
    width: 100px;
    height: 30px;
}